* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom right, #4A90E2, #0F62FE); /* Dégradé bleu */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: all 0.3s ease;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, 3px);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(1) {
    transform: rotate(-45deg) translate(3px, -3px);
}

#menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    list-style-type: none;
    transition: transform 0.3s ease;
    transform: translateX(200%);
}

#menuToggle input:checked ~ ul {
    transform: translateX(0%);
}

#menu li {
    padding: 10px 0;
    font-size: 18px;
}
